<h1>{{ recipe().name }}</h1>
<app-recipe-chips-list [recipe]="recipe()"/>
<app-recipe-ingridient-list [ingridients]="recipe().ingridients" [servings]="recipe().servings"/>
<app-recipe-preparation [preparation]="recipe().preparation"/>
<mat-divider />
<div class="flex-container flex-justify-content-end pd-y-sm">
  <app-delete-button
    [withConfirm]="true"
    confirmTitle="Wirklich Löschen?"
    confirmMessage="Soll das Rezept {{ this.recipe().name }} wirklich gelöscht werden?"
    (deleteButtonClicked)="deleteRecipe()"/>
</div>

